.Drawer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    transform: translateX(0px);
    transition: transform .22s ease-in;
    z-index: 90;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Drawer.close {
    transform: translateX(300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
}

.Drawer ul li {
    margin-bottom: 15px;
    border: 1px solid #D0D0D8;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #000;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    background: #FFFFFF;
}

.Drawer ul li:before {
    content: "";
    width: 17px;
    left: -20px;
    border: 1px solid #D0D0D8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Drawer ul li:after {
    content: "";
    width: 17px;
    right: -20px;
    border: 1px solid #D0D0D8;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Drawer ul li a {
    color: #1C1C21;
    font-size: 30px;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #D0D0D8;
    position: relative;
    padding: 0 20px 10px 20px;
    transition: opacity .3s;
}

.Drawer ul li a:hover, .active {
    opacity: .7;
}


.Drawer .active {
    background: #FFFFFF;
    border: 1px solid #FF8B37;
    color: #FF8B37;
}

.Drawer ul li.active:before {
    border: 1px solid #FF8B37;
}

.Drawer ul li.active:after {
    border: 1px solid #FF8B37;
}

.Drawer .unactive {
    background: #FFFFFF;
    border: 1px solid #D0D0D8;
    color: #D0D0D8;
}

.Drawer ul li.unactive:before {
    border: 1px solid #D0D0D8;
}

.Drawer ul li.unactive:after {
    border: 1px solid #D0D0D8;
}