.Quiz {
    display: flex;
    justify-content: center;
    /*padding-top: 100px;*/
    flex-grow: 1;
    width: 100%;
    background: #F5F5F7;
}
.Quiz h1 {
    color: #fff;
    margin-left: 10px;
}
.QuizWrapper {
    /*width: 600px;*/
    margin: auto;
}