.FinishedQuiz {
    background-image: linear-gradient(148deg, #FFFFFF 50%, #FFF3EB 50%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 576px) {
    .FinishedQuiz {
        flex-direction: column;
    }
}

.FinishedQuiz .thumbsUp {
    width: 100%;
    height: auto;
    display: block;

}

.FinishedQuiz .totalScore {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    justify-content: center;
}

@media (max-width: 576px) {
    .FinishedQuiz .totalScore {
        text-align: center;
    }
}