.ActiveQuiz{
    color: #ffffff;
    box-sizing: border-box;
    /*bottom: 0;*/
    /*right: 0;*/
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Question {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    align-items: center;
    color: #1C1C21;
}