.ActiveQuiz {
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    align-items: center;
}

.Question {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 116%;
    align-items: center;
    color: #1C1C21;
}

.Question .question {
    text-align: left;
}