.MenuToggle {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}
/*@media (min-width: 800px) {*/
/*     .MenuToggle  {*/
/*       display: none;*/
/*    }*/
/*}*/
/*@media (max-width: 800px) {*/
/*    .MenuToggle  {*/
/*        display: block;*/
/*    }*/
/*}*/
.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    right: 320px;
}
/*@media (min-width: 576px) {*/
/*    .MenuToggle.open {*/
/*        right: 320px;*/
/*    }*/
/*}*/