.MenuToggle {
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    transition: opacity, left .22s ease-in;
    z-index: 100;
}

.MenuToggle:hover {
    opacity: .7;
}

.MenuToggle.open {
    right: 300px;
}

@media (max-width: 380px) {
    .MenuToggle.open {
        right: 280px;

    }
}



